{% extends 'base.html' %}
{% load static %}
{% block title %}
    JobBoard
{% endblock title %}


{% block stylesheet %}
{% endblock stylesheet %}

{% block content %}

<div class="page-content">
    <!-- Section Banner -->
    <div class="dez-bnr-inr dez-bnr-inr-md" style="background-image:url({% static 'images/main-slider/slide2.jpg' %});">
        <div class="container">
            <div class="dez-bnr-inr-entry align-m ">
                <div class="find-job-bx">
                    <p class="site-button button-sm">Find Jobs, Employment & Career Opportunities</p>
                    <h2>Search Between More Than <br/> <span class="text-primary">50,000</span> Open Jobs.</h2>
                    
                    <form class="dezPlaceAni" role="search" action="search/" id="searchForm">
                        <div class="row">
                            <div class="col-lg-10 col-md-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Job Title " name="job">
                                        <div class="input-group-append">
                                          <span class="input-group-text"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6">
                                <button type="submit" class="site-button btn-block">Find Job</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <!-- Section Banner END -->
    <!-- About Us -->
    <div class="section-full job-categories content-inner-2 bg-white" style="background-image:url(../images/pattern/pic1.html);">
        <div class="container">
            <div class="section-head d-flex head-counter clearfix">
                <div class="mr-auto">
                    <h2 class="m-b5">Popular Categories</h2>
                    <h6 class="fw3">20+ Catetories work wating for you</h6>
                </div>
                <div class="head-counter-bx">
                    <h2 class="m-b5 counter">{{ total_jobs }}</h2>
                    <h6 class="fw3">Jobs Posted</h6>
                </div>
                 <div class="head-counter-bx">
                    <h2 class="m-b5 counter"> {{ total_emp}}</h2>
                    <h6 class="fw3">Employers</h6>
                </div>
                <!-- <div class="head-counter-bx">
                    <h2 class="m-b5 counter">1500</h2>
                    <h6 class="fw3">Freelancers</h6>
                </div> -->
            </div>
            <div class="row sp20">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="icon-bx-wraper">
                        <div class="icon-content">
                            <div class="icon-md text-primary m-b20"><i class="ti-location-pin"></i></div>
                            <a href="#" class="dez-tilte">Design, Art & Multimedia</a>
                            <p class="m-a0">198 Open Positions</p>
                            <div class="rotate-icon"><i class="ti-location-pin"></i></div> 
                        </div>
                    </div>				
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="icon-bx-wraper">
                        <div class="icon-content">
                            <div class="icon-md text-primary m-b20"><i class="ti-wand"></i></div>
                            <a href="#" class="dez-tilte">Education Training</a>
                            <p class="m-a0">198 Open Positions</p>
                            <div class="rotate-icon"><i class="ti-wand"></i></div> 
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="icon-bx-wraper">
                        <div class="icon-content">
                            <div class="icon-md text-primary m-b20"><i class="ti-wallet"></i></div>
                            <a href="#" class="dez-tilte">Accounting / Finance</a>
                            <p class="m-a0">198 Open Positions</p>
                            <div class="rotate-icon"><i class="ti-wallet"></i></div> 
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="icon-bx-wraper">
                        <div class="icon-content">
                            <div class="icon-md text-primary m-b20"><i class="ti-cloud-up"></i></div>
                            <a href="#" class="dez-tilte">Human Resource</a>
                            <p class="m-a0">198 Open Positions</p>
                            <div class="rotate-icon"><i class="ti-cloud-up"></i></div> 
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="icon-bx-wraper">
                        <div class="icon-content">
                            <div class="icon-md text-primary m-b20"><i class="ti-bar-chart"></i></div>
                            <a href="#" class="dez-tilte">Telecommunications</a>
                            <p class="m-a0">198 Open Positions</p>
                            <div class="rotate-icon"><i class="ti-bar-chart"></i></div> 
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="icon-bx-wraper">
                        <div class="icon-content">
                            <div class="icon-md text-primary m-b20"><i class="ti-tablet"></i></div>
                            <a href="#" class="dez-tilte">Restaurant / Food Service</a>
                            <p class="m-a0">198 Open Positions</p>
                            <div class="rotate-icon"><i class="ti-tablet"></i></div> 
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="icon-bx-wraper">
                        <div class="icon-content">
                            <div class="icon-md text-primary m-b20"><i class="ti-camera"></i></div>
                            <a href="#" class="dez-tilte">Construction / Facilities</a>
                            <p class="m-a0">198 Open Positions</p>
                            <div class="rotate-icon"><i class="ti-camera"></i></div> 
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="icon-bx-wraper">
                        <div class="icon-content">
                            <div class="icon-md text-primary m-b20"><i class="ti-panel"></i></div>
                            <a href="#" class="dez-tilte">Health</a>
                            <p class="m-a0">198 Open Positions</p>
                            <div class="rotate-icon"><i class="ti-panel"></i></div> 
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-12 text-center m-t30">
                    <button class="site-button radius-xl">All Categories</button>
                </div> -->
            </div>
        </div>
    </div>
    <!-- About Us END -->
    <!-- Call To Action -->

    <!-- <div class="section-full content-inner bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 section-head text-center">
                    <h2 class="m-b5">Featured Cities</h2>
                    <h6 class="fw4 m-b0">20+ Featured Cities Added Jobs</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
                    <div class="city-bx align-items-end  d-flex" style="background-image:url(images/city/pic1.jpg)">
                        <div class="city-info">
                            <h5>Iraq</h5>
                            <span>765 Jobs</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
                    <div class="city-bx align-items-end  d-flex" style="background-image:url(images/city/pic2.jpg)">
                        <div class="city-info">
                            <h5>Argentina</h5>
                            <span>352 Jobs</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
                    <div class="city-bx align-items-end  d-flex" style="background-image:url(images/city/pic3.jpg)">
                        <div class="city-info">
                            <h5>Indonesia</h5>
                            <span>893 Jobs</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
                    <div class="city-bx align-items-end  d-flex" style="background-image:url(images/city/pic4.jpg)">
                        <div class="city-info">
                            <h5>Gambia</h5>
                            <span>502 Jobs</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
                    <div class="city-bx align-items-end  d-flex" style="background-image:url(images/city/pic5.jpg)">
                        <div class="city-info">
                            <h5>India</h5>
                            <span>765 Jobs</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
                    <div class="city-bx align-items-end  d-flex" style="background-image:url(images/city/pic6.jpg)">
                        <div class="city-info">
                            <h5>Thailand</h5>
                            <span>352 Jobs</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
                    <div class="city-bx align-items-end  d-flex" style="background-image:url(images/city/pic7.jpg)">
                        <div class="city-info">
                            <h5>Banjul</h5>
                            <span>893 Jobs</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-6 m-b30">
                    <div class="city-bx align-items-end  d-flex" style="background-image:url(images/city/pic8.jpg)">
                        <div class="city-info">
                            <h5>Spain</h5>
                            <span>502 Jobs</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Call To Action END -->

    <!-- Our Job -->
    <div class="section-full bg-white content-inner-2">
        <div class="container">
            <div class="d-flex job-title-bx section-head">
                <div class="mr-auto bg-primary p-4 w-100" style="border-radius: 12px;">
                    <h2 class="m-b5 text-capitalize text-white">recently posted jobs</h2>
                </div>
                {% if jobs %}
                    <div class="align-self-end">
                        <a href="{% url 'jobs' %}" class="site-button button-sm">Browse All Jobs <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                {% endif %}
            </div>


            {% if jobs %}
                <div class="row">
                    <div class="col-lg-9">
                        <ul class="post-job-bx">
                            {% for job in jobs %}
                                <li>
                                    <a href="{% url 'job-detail' job.id %}">
                                        <div class="d-flex m-b30">
                                            <div class="job-post-company">
                                                <span><img src="{% static 'images/job-icon.webp' %}"/></span>
                                            </div>
                                            <div class="job-post-info">
                                                <h4>{{job.title}}</h4>
                                                <ul>
                                                    <li class="text-capitalize"><i class="fa fa-map-marker"></i> {{ job.location }} </li>
                                                    <li class="text-capitalize"><i class="fa fa-bookmark-o"></i> {{ job.type }} </li>
                                                    <li class="text-capitalize"><i class="fa fa-clock-o"></i> {{ job.posted_date|date:"F d, Y" }} </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="job-time mr-auto">
                                                <span> <i class="fa fa-user"> </i> {{ job.posted_by.user.first_name }}</span>
                                            </div>
                                            <div style="color: #312f30; font-family: rubik; font-size: 15px;">
                                                <span> {% if not job.experience %} Fresher {% else %} {{job.experience}} Year experience {% endif %} </span>
                                            </div>
                                        </div>
                                        <!-- <span class="post-like fa fa-heart-o"></span> -->
                                    </a>
                                </li>
                            {% endfor %}

                        </ul>
                        <!-- <div class="m-t30">
                            <div class="d-flex">
                                <a class="site-button button-sm mr-auto" href="#"><i class="ti-arrow-left"></i> Prev</a>
                                <a class="site-button button-sm" href="#">Next <i class="ti-arrow-right"></i></a>
                            </div>
                        </div> -->
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-md-12 mr-auto">
                        <div class="mr-auto w-100 text-center">
                            <h5 class="text-capitalize text-danger"> No jobs available </h5>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
    <!-- Our Job END -->	
   

</div>


{% endblock content %}


{% block scripts %}

{% endblock scripts %}