{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
    JobBoard - Search results for : {{ query }}
{% endblock title %}


{% block stylesheet %}
{% endblock stylesheet %}

{% block content %}
<div class="dez-bnr-inr dez-bnr-inr-md">
    <div class="container">

            <div class="find-job-bx mt-5">
                <div>
                   <div>
                       <h3> Showing results for <span style="color: #2e55fa;"> {{ query }}</span></h3>
                   </div>
                   {% if not jobs %}
                        <h5>We dont have any <span style="color: #2e55fa;"> {{ query }}</span> jobs. <span style="color:#2e55fa; font-size: 22px;" >Try something else..</span> </h5>
                    {% else %}
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-9">
                                    <ul class="post-job-bx">

                                        {% for job in jobs %}
                                            <li>
                                                <a href="{% url 'job-detail' job.id %}">
                                                    <div class="d-flex m-b30">
                                                        <div class="job-post-company">
                                                            <span><img src="{% static 'images/job-icon.webp' %}"/></span>
                                                        </div>
                                                        <div class="job-post-info">
                                                            <h4>{{job.title}}</h4>
                                                            <ul>
                                                                <li class="text-capitalize"><i class="fa fa-map-marker"></i> {{ job.location }} </li>
                                                                <li class="text-capitalize"><i class="fa fa-bookmark-o"></i> {{ job.type }} </li>
                                                                <li class="text-capitalize"><i class="fa fa-clock-o"></i> {{ job.posted_date|date:"F d, Y" }} </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <div class="job-time mr-auto">
                                                            <span> <i class="fa fa-user"> </i> {{ job.posted_by.user.first_name }}</span>
                                                        </div>
                                                        <div style="color: #312f30; font-family: rubik; font-size: 15px;">
                                                            <span> {% if not job.experience %} Fresher {% else %} {{job.experience}} Year experience {% endif %} </span>
                                                        </div>
                                                        
                                                    </div>
                                                    <!-- <span class="post-like fa fa-heart-o"></span> -->
                                                </a>
                                            </li>
                                        {% endfor %}

                                        
                                    </ul>
                                </div>    
                            </div>
                        </div>
                    {% endif %}

                    
                </div>

            </div>

    </div>
</div>
{% endblock content %}



{% block scripts %}
{% endblock scripts %}