{% extends 'job_seeker/account/base.html' %}

{% block title %} 
    View Exams
{% endblock title %} 

{% block stylesheet %}
<style>
  .job{
    width: 100%;
    background: #ffffff;
    padding: 3%;
    border-radius: 20px;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transform: scale(.95);
    transition: all .5s;
    box-shadow: 0px 0px 11px -8px rgba(0,0,0,0.75);

  }
  .job:hover{
    transform: scale(1);
    box-shadow: -2px 3px 23px -8px rgba(0,0,0,0.75);
  }
  .job-title h3{
    color: #5E72E4 !important ;
  }

</style>
{% endblock stylesheet %}


{% block profile_content %}
<div class="container">
<div>
    <h2 class="text-capitalize"> Available exams</h2>
</div>
{% if examList %}
  {% for exam in examList %}
    <div class="job row">
      <div class="job-title col-md-4">
        <span>Job title</span>
          <h3> {{ exam.job.title }}  </h3>
      </div>
      <div class="col-md-4 my-auto">
          <a href="{% url 'attendExam' exam.job.id %}"  class="btn btn-success text-white">Attend exam</a> 
      </div>
    </div>
    {% endfor %}
{% else %}
    <div style="padding: 15px;">
      <h4 class="text-danger">No exams available</h4>
    </div>
{% endif %}
</div>

{% if completedExams %}
<div class="container">
  <div>
    <h2 class="text-capitalize"> Completed Exams </h2>
    {% for exam in completedExams %}
      <div class="job row">
        <div class="job-title col-md-4">
          <span>Job title</span>
            <h3> {{ exam.job.title }}  </h3>
        </div>
        <div class="col-md-4 my-auto">
            <p>Mark obtained - <span style="font-weight: bold; font-size: larger;">{{ exam.marks }}</span> </p>
        </div>
        {% if exam.marks >= 50 %}
          <div class="col-md-4">
              <p class="text-success font-weight-bold text-center">Congratulations ! <br />
                <small class="text-success"> You are selected ! Wait for our call</small>
              </p>
          </div>
        {% else %}
          <div class="col-md-4">
            <p class="text-danger font-weight-bold text-center">Oops ! <br />
              <small class="text-danger"> You didn't score enough! </small>
            </p>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
{% endif %}


{% endblock profile_content %}

{% block script  %}
{% endblock script  %}
